client/xml-resources/web-service-references/WsTlu30LichPhongVan/wsdl/localhost_8181/NetBeansProjects/WsTlu30LichPhongVan.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.service/" name="WsTlu30LichPhongVan">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.service/" schemaLocation="http://localhost:8181/NetBeansProjects/WsTlu30LichPhongVan?xsd=1"/>
</xsd:schema>
</types>
<message name="Initobj">
<part name="parameters" element="tns:Initobj"/>
</message>
<message name="InitobjResponse">
<part name="parameters" element="tns:InitobjResponse"/>
</message>
<message name="Tlu30LpvDisplayAll">
<part name="parameters" element="tns:Tlu30LpvDisplayAll"/>
</message>
<message name="Tlu30LpvDisplayAllResponse">
<part name="parameters" element="tns:Tlu30LpvDisplayAllResponse"/>
</message>
<message name="Tlu30LpvFindById">
<part name="parameters" element="tns:Tlu30LpvFindById"/>
</message>
<message name="Tlu30LpvFindByIdResponse">
<part name="parameters" element="tns:Tlu30LpvFindByIdResponse"/>
</message>
<message name="Tlu30LpvFindbySoLPV">
<part name="parameters" element="tns:Tlu30LpvFindbySoLPV"/>
</message>
<message name="Tlu30LpvFindbySoLPVResponse">
<part name="parameters" element="tns:Tlu30LpvFindbySoLPVResponse"/>
</message>
<message name="Tlu30LpvFindByUngVien">
<part name="parameters" element="tns:Tlu30LpvFindByUngVien"/>
</message>
<message name="Tlu30LpvFindByUngVienResponse">
<part name="parameters" element="tns:Tlu30LpvFindByUngVienResponse"/>
</message>
<message name="Tlu30LpvInsert">
<part name="parameters" element="tns:Tlu30LpvInsert"/>
</message>
<message name="Tlu30LpvInsertResponse">
<part name="parameters" element="tns:Tlu30LpvInsertResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="Tlu30LpvUpdate">
<part name="parameters" element="tns:Tlu30LpvUpdate"/>
</message>
<message name="Tlu30LpvUpdateResponse">
<part name="parameters" element="tns:Tlu30LpvUpdateResponse"/>
</message>
<message name="Tlu30LpvDelete">
<part name="parameters" element="tns:Tlu30LpvDelete"/>
</message>
<message name="Tlu30LpvDeleteResponse">
<part name="parameters" element="tns:Tlu30LpvDeleteResponse"/>
</message>
<message name="tlu30LpvFindCommon">
<part name="parameters" element="tns:tlu30LpvFindCommon"/>
</message>
<message name="tlu30LpvFindCommonResponse">
<part name="parameters" element="tns:tlu30LpvFindCommonResponse"/>
</message>
<portType name="WsTlu30LichPhongVan">
<operation name="Initobj">
<input wsam:Action="http://webservice.service/WsTlu30LichPhongVan/InitobjRequest" message="tns:Initobj"/>
<output wsam:Action="http://webservice.service/WsTlu30LichPhongVan/InitobjResponse" message="tns:InitobjResponse"/>
</operation>
<operation name="Tlu30LpvDisplayAll">
<input wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvDisplayAllRequest" message="tns:Tlu30LpvDisplayAll"/>
<output wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvDisplayAllResponse" message="tns:Tlu30LpvDisplayAllResponse"/>
</operation>
<operation name="Tlu30LpvFindById">
<input wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvFindByIdRequest" message="tns:Tlu30LpvFindById"/>
<output wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvFindByIdResponse" message="tns:Tlu30LpvFindByIdResponse"/>
</operation>
<operation name="Tlu30LpvFindbySoLPV">
<input wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvFindbySoLPVRequest" message="tns:Tlu30LpvFindbySoLPV"/>
<output wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvFindbySoLPVResponse" message="tns:Tlu30LpvFindbySoLPVResponse"/>
</operation>
<operation name="Tlu30LpvFindByUngVien">
<input wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvFindByUngVienRequest" message="tns:Tlu30LpvFindByUngVien"/>
<output wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvFindByUngVienResponse" message="tns:Tlu30LpvFindByUngVienResponse"/>
</operation>
<operation name="Tlu30LpvInsert">
<input wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvInsertRequest" message="tns:Tlu30LpvInsert"/>
<output wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvInsertResponse" message="tns:Tlu30LpvInsertResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvInsert/Fault/ParseException"/>
</operation>
<operation name="Tlu30LpvUpdate">
<input wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvUpdateRequest" message="tns:Tlu30LpvUpdate"/>
<output wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvUpdateResponse" message="tns:Tlu30LpvUpdateResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvUpdate/Fault/ParseException"/>
</operation>
<operation name="Tlu30LpvDelete">
<input wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvDeleteRequest" message="tns:Tlu30LpvDelete"/>
<output wsam:Action="http://webservice.service/WsTlu30LichPhongVan/Tlu30LpvDeleteResponse" message="tns:Tlu30LpvDeleteResponse"/>
</operation>
<operation name="tlu30LpvFindCommon">
<input wsam:Action="http://webservice.service/WsTlu30LichPhongVan/tlu30LpvFindCommonRequest" message="tns:tlu30LpvFindCommon"/>
<output wsam:Action="http://webservice.service/WsTlu30LichPhongVan/tlu30LpvFindCommonResponse" message="tns:tlu30LpvFindCommonResponse"/>
</operation>
</portType>
<binding name="WsTlu30LichPhongVanPortBinding" type="tns:WsTlu30LichPhongVan">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Initobj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30LpvDisplayAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30LpvFindById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30LpvFindbySoLPV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30LpvFindByUngVien">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30LpvInsert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="Tlu30LpvUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="Tlu30LpvDelete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tlu30LpvFindCommon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsTlu30LichPhongVan">
<port name="WsTlu30LichPhongVanPort" binding="tns:WsTlu30LichPhongVanPortBinding">
<soap:address location="http://localhost:8181/NetBeansProjects/WsTlu30LichPhongVan"/>
</port>
</service>
</definitions>