client/xml-resources/web-service-references/WSBOPHAN/wsdl/localhost_8181/NetBeansProjects/WSBOPHAN.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.service/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="Tlu20BoPhanInsert" type="tns:Tlu20BoPhanInsert"/>

<xs:element name="Tlu20BoPhanInsertResponse" type="tns:Tlu20BoPhanInsertResponse"/>

<xs:element name="Tlu20bophanDeletebyId" type="tns:Tlu20bophanDeletebyId"/>

<xs:element name="Tlu20bophanDeletebyIdResponse" type="tns:Tlu20bophanDeletebyIdResponse"/>

<xs:element name="Tlu20bophanDisplayAll" type="tns:Tlu20bophanDisplayAll"/>

<xs:element name="Tlu20bophanDisplayAllResponse" type="tns:Tlu20bophanDisplayAllResponse"/>

<xs:element name="Tlu20bophanFindCommon" type="tns:Tlu20bophanFindCommon"/>

<xs:element name="Tlu20bophanFindCommonResponse" type="tns:Tlu20bophanFindCommonResponse"/>

<xs:element name="Tlu20bophanUpdatebyID" type="tns:Tlu20bophanUpdatebyID"/>

<xs:element name="Tlu20bophanUpdatebyIDResponse" type="tns:Tlu20bophanUpdatebyIDResponse"/>

<xs:element name="init" type="tns:init"/>

<xs:element name="initConv" type="tns:initConv"/>

<xs:element name="initConvResponse" type="tns:initConvResponse"/>

<xs:element name="initResponse" type="tns:initResponse"/>

<xs:complexType name="Tlu20bophanFindCommon">
<xs:sequence>
<xs:element name="Tenbophan" type="xs:string" minOccurs="0"/>
<xs:element name="Mabophan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Tlu20bophanFindCommonResponse">
<xs:sequence>
<xs:element name="return" type="tns:tlu20Bophan" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tlu20Bophan">
<xs:sequence>
<xs:element name="createdAt" type="xs:dateTime" minOccurs="0"/>
<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="isActive" type="xs:boolean"/>
<xs:element name="mabophan" type="xs:string" minOccurs="0"/>
<xs:element name="tenbophan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="init">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="initResponse">
<xs:sequence>
<xs:element name="return" type="tns:daobophan" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="daobophan">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Tlu20bophanUpdatebyID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
<xs:element name="createdAt" type="xs:string" minOccurs="0"/>
<xs:element name="isActive" type="xs:boolean"/>
<xs:element name="Tenbophan" type="xs:string" minOccurs="0"/>
<xs:element name="Mabophan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Tlu20bophanUpdatebyIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="initConv">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="initConvResponse">
<xs:sequence>
<xs:element name="return" type="tns:convert" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convert">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Tlu20bophanDeletebyId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Tlu20bophanDeletebyIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Tlu20BoPhanInsert">
<xs:sequence>
<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
<xs:element name="createdAt" type="xs:string" minOccurs="0"/>
<xs:element name="isActive" type="xs:boolean"/>
<xs:element name="Tenbophan" type="xs:string" minOccurs="0"/>
<xs:element name="Mabophan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Tlu20BoPhanInsertResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Tlu20bophanDisplayAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Tlu20bophanDisplayAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:tlu20Bophan" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>