client/xml-resources/web-service-references/WSTLU20TRINHDOVH/wsdl/localhost_8181/NetBeansProjects/WSTLU20TRINHDOVH.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.service/" name="WSTLU20TRINHDOVH">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.service/" schemaLocation="http://localhost:8181/NetBeansProjects/WSTLU20TRINHDOVH?xsd=1"/>
</xsd:schema>
</types>
<message name="initConv">
<part name="parameters" element="tns:initConv"/>
</message>
<message name="initConvResponse">
<part name="parameters" element="tns:initConvResponse"/>
</message>
<message name="Tlu20trinhDoVanHoaInsert">
<part name="parameters" element="tns:Tlu20trinhDoVanHoaInsert"/>
</message>
<message name="Tlu20trinhDoVanHoaInsertResponse">
<part name="parameters" element="tns:Tlu20trinhDoVanHoaInsertResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="tlu20TrinhDoVanHoaUpdatebyID">
<part name="parameters" element="tns:tlu20TrinhDoVanHoaUpdatebyID"/>
</message>
<message name="tlu20TrinhDoVanHoaUpdatebyIDResponse">
<part name="parameters" element="tns:tlu20TrinhDoVanHoaUpdatebyIDResponse"/>
</message>
<message name="tlu20TrinhDoVanHoaDelete">
<part name="parameters" element="tns:tlu20TrinhDoVanHoaDelete"/>
</message>
<message name="tlu20TrinhDoVanHoaDeleteResponse">
<part name="parameters" element="tns:tlu20TrinhDoVanHoaDeleteResponse"/>
</message>
<message name="tlu20TrinhDoVanHoaDisplayAll">
<part name="parameters" element="tns:tlu20TrinhDoVanHoaDisplayAll"/>
</message>
<message name="tlu20TrinhDoVanHoaDisplayAllResponse">
<part name="parameters" element="tns:tlu20TrinhDoVanHoaDisplayAllResponse"/>
</message>
<message name="tlu20TrinhDoVanHoaFindCommon">
<part name="parameters" element="tns:tlu20TrinhDoVanHoaFindCommon"/>
</message>
<message name="tlu20TrinhDoVanHoaFindCommonResponse">
<part name="parameters" element="tns:tlu20TrinhDoVanHoaFindCommonResponse"/>
</message>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse"/>
</message>
<portType name="WSTLU20TRINHDOVH">
<operation name="initConv">
<input wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/initConvRequest" message="tns:initConv"/>
<output wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/initConvResponse" message="tns:initConvResponse"/>
</operation>
<operation name="Tlu20trinhDoVanHoaInsert">
<input wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/Tlu20trinhDoVanHoaInsertRequest" message="tns:Tlu20trinhDoVanHoaInsert"/>
<output wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/Tlu20trinhDoVanHoaInsertResponse" message="tns:Tlu20trinhDoVanHoaInsertResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/Tlu20trinhDoVanHoaInsert/Fault/ParseException"/>
</operation>
<operation name="tlu20TrinhDoVanHoaUpdatebyID">
<input wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/tlu20TrinhDoVanHoaUpdatebyIDRequest" message="tns:tlu20TrinhDoVanHoaUpdatebyID"/>
<output wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/tlu20TrinhDoVanHoaUpdatebyIDResponse" message="tns:tlu20TrinhDoVanHoaUpdatebyIDResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/tlu20TrinhDoVanHoaUpdatebyID/Fault/ParseException"/>
</operation>
<operation name="tlu20TrinhDoVanHoaDelete">
<input wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/tlu20TrinhDoVanHoaDeleteRequest" message="tns:tlu20TrinhDoVanHoaDelete"/>
<output wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/tlu20TrinhDoVanHoaDeleteResponse" message="tns:tlu20TrinhDoVanHoaDeleteResponse"/>
</operation>
<operation name="tlu20TrinhDoVanHoaDisplayAll">
<input wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/tlu20TrinhDoVanHoaDisplayAllRequest" message="tns:tlu20TrinhDoVanHoaDisplayAll"/>
<output wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/tlu20TrinhDoVanHoaDisplayAllResponse" message="tns:tlu20TrinhDoVanHoaDisplayAllResponse"/>
</operation>
<operation name="tlu20TrinhDoVanHoaFindCommon">
<input wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/tlu20TrinhDoVanHoaFindCommonRequest" message="tns:tlu20TrinhDoVanHoaFindCommon"/>
<output wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/tlu20TrinhDoVanHoaFindCommonResponse" message="tns:tlu20TrinhDoVanHoaFindCommonResponse"/>
</operation>
<operation name="init">
<input wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/initRequest" message="tns:init"/>
<output wsam:Action="http://webservice.service/WSTLU20TRINHDOVH/initResponse" message="tns:initResponse"/>
</operation>
</portType>
<binding name="WSTLU20TRINHDOVHPortBinding" type="tns:WSTLU20TRINHDOVH">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="initConv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu20trinhDoVanHoaInsert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="tlu20TrinhDoVanHoaUpdatebyID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="tlu20TrinhDoVanHoaDelete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tlu20TrinhDoVanHoaDisplayAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tlu20TrinhDoVanHoaFindCommon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSTLU20TRINHDOVH">
<port name="WSTLU20TRINHDOVHPort" binding="tns:WSTLU20TRINHDOVHPortBinding">
<soap:address location="http://localhost:8181/NetBeansProjects/WSTLU20TRINHDOVH"/>
</port>
</service>
</definitions>