client/src/META-INF/wsdl/localhost_8181/NetBeansProjects/WSBOPHAN.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.service/" name="WSBOPHAN">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.service/" schemaLocation="http://localhost:8181/NetBeansProjects/WSBOPHAN?xsd=1"/>
</xsd:schema>
</types>
<message name="initConv">
<part name="parameters" element="tns:initConv"/>
</message>
<message name="initConvResponse">
<part name="parameters" element="tns:initConvResponse"/>
</message>
<message name="Tlu20bophanDeletebyId">
<part name="parameters" element="tns:Tlu20bophanDeletebyId"/>
</message>
<message name="Tlu20bophanDeletebyIdResponse">
<part name="parameters" element="tns:Tlu20bophanDeletebyIdResponse"/>
</message>
<message name="Tlu20bophanUpdatebyID">
<part name="parameters" element="tns:Tlu20bophanUpdatebyID"/>
</message>
<message name="Tlu20bophanUpdatebyIDResponse">
<part name="parameters" element="tns:Tlu20bophanUpdatebyIDResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="Tlu20bophanDisplayAll">
<part name="parameters" element="tns:Tlu20bophanDisplayAll"/>
</message>
<message name="Tlu20bophanDisplayAllResponse">
<part name="parameters" element="tns:Tlu20bophanDisplayAllResponse"/>
</message>
<message name="Tlu20bophanFindCommon">
<part name="parameters" element="tns:Tlu20bophanFindCommon"/>
</message>
<message name="Tlu20bophanFindCommonResponse">
<part name="parameters" element="tns:Tlu20bophanFindCommonResponse"/>
</message>
<message name="Tlu20BoPhanInsert">
<part name="parameters" element="tns:Tlu20BoPhanInsert"/>
</message>
<message name="Tlu20BoPhanInsertResponse">
<part name="parameters" element="tns:Tlu20BoPhanInsertResponse"/>
</message>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse"/>
</message>
<portType name="WSBOPHAN">
<operation name="initConv">
<input wsam:Action="http://webservice.service/WSBOPHAN/initConvRequest" message="tns:initConv"/>
<output wsam:Action="http://webservice.service/WSBOPHAN/initConvResponse" message="tns:initConvResponse"/>
</operation>
<operation name="Tlu20bophanDeletebyId">
<input wsam:Action="http://webservice.service/WSBOPHAN/Tlu20bophanDeletebyIdRequest" message="tns:Tlu20bophanDeletebyId"/>
<output wsam:Action="http://webservice.service/WSBOPHAN/Tlu20bophanDeletebyIdResponse" message="tns:Tlu20bophanDeletebyIdResponse"/>
</operation>
<operation name="Tlu20bophanUpdatebyID">
<input wsam:Action="http://webservice.service/WSBOPHAN/Tlu20bophanUpdatebyIDRequest" message="tns:Tlu20bophanUpdatebyID"/>
<output wsam:Action="http://webservice.service/WSBOPHAN/Tlu20bophanUpdatebyIDResponse" message="tns:Tlu20bophanUpdatebyIDResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://webservice.service/WSBOPHAN/Tlu20bophanUpdatebyID/Fault/ParseException"/>
</operation>
<operation name="Tlu20bophanDisplayAll">
<input wsam:Action="http://webservice.service/WSBOPHAN/Tlu20bophanDisplayAllRequest" message="tns:Tlu20bophanDisplayAll"/>
<output wsam:Action="http://webservice.service/WSBOPHAN/Tlu20bophanDisplayAllResponse" message="tns:Tlu20bophanDisplayAllResponse"/>
</operation>
<operation name="Tlu20bophanFindCommon">
<input wsam:Action="http://webservice.service/WSBOPHAN/Tlu20bophanFindCommonRequest" message="tns:Tlu20bophanFindCommon"/>
<output wsam:Action="http://webservice.service/WSBOPHAN/Tlu20bophanFindCommonResponse" message="tns:Tlu20bophanFindCommonResponse"/>
</operation>
<operation name="Tlu20BoPhanInsert">
<input wsam:Action="http://webservice.service/WSBOPHAN/Tlu20BoPhanInsertRequest" message="tns:Tlu20BoPhanInsert"/>
<output wsam:Action="http://webservice.service/WSBOPHAN/Tlu20BoPhanInsertResponse" message="tns:Tlu20BoPhanInsertResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://webservice.service/WSBOPHAN/Tlu20BoPhanInsert/Fault/ParseException"/>
</operation>
<operation name="init">
<input wsam:Action="http://webservice.service/WSBOPHAN/initRequest" message="tns:init"/>
<output wsam:Action="http://webservice.service/WSBOPHAN/initResponse" message="tns:initResponse"/>
</operation>
</portType>
<binding name="WSBOPHANPortBinding" type="tns:WSBOPHAN">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="initConv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu20bophanDeletebyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu20bophanUpdatebyID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="Tlu20bophanDisplayAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu20bophanFindCommon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu20BoPhanInsert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSBOPHAN">
<port name="WSBOPHANPort" binding="tns:WSBOPHANPortBinding">
<soap:address location="http://localhost:8181/NetBeansProjects/WSBOPHAN"/>
</port>
</service>
</definitions>