client/src/META-INF/wsdl/localhost_8181/NetBeansProjects/WsDangNhap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.service/" name="WsDangNhap">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.service/" schemaLocation="http://localhost:8181/NetBeansProjects/WsDangNhap?xsd=1"/>
</xsd:schema>
</types>
<message name="Tlu20DangNhapInsert">
<part name="parameters" element="tns:Tlu20DangNhapInsert"/>
</message>
<message name="Tlu20DangNhapInsertResponse">
<part name="parameters" element="tns:Tlu20DangNhapInsertResponse"/>
</message>
<message name="TestLogin">
<part name="parameters" element="tns:TestLogin"/>
</message>
<message name="TestLoginResponse">
<part name="parameters" element="tns:TestLoginResponse"/>
</message>
<message name="TLu20Delete">
<part name="parameters" element="tns:TLu20Delete"/>
</message>
<message name="TLu20DeleteResponse">
<part name="parameters" element="tns:TLu20DeleteResponse"/>
</message>
<message name="TLu20DangNhapFindUser">
<part name="parameters" element="tns:TLu20DangNhapFindUser"/>
</message>
<message name="TLu20DangNhapFindUserResponse">
<part name="parameters" element="tns:TLu20DangNhapFindUserResponse"/>
</message>
<message name="Tlu20dangNhapFindCommon">
<part name="parameters" element="tns:Tlu20dangNhapFindCommon"/>
</message>
<message name="Tlu20dangNhapFindCommonResponse">
<part name="parameters" element="tns:Tlu20dangNhapFindCommonResponse"/>
</message>
<portType name="WsDangNhap">
<operation name="Tlu20DangNhapInsert">
<input wsam:Action="http://webservice.service/WsDangNhap/Tlu20DangNhapInsertRequest" message="tns:Tlu20DangNhapInsert"/>
<output wsam:Action="http://webservice.service/WsDangNhap/Tlu20DangNhapInsertResponse" message="tns:Tlu20DangNhapInsertResponse"/>
</operation>
<operation name="TestLogin">
<input wsam:Action="http://webservice.service/WsDangNhap/TestLoginRequest" message="tns:TestLogin"/>
<output wsam:Action="http://webservice.service/WsDangNhap/TestLoginResponse" message="tns:TestLoginResponse"/>
</operation>
<operation name="TLu20Delete">
<input wsam:Action="http://webservice.service/WsDangNhap/TLu20DeleteRequest" message="tns:TLu20Delete"/>
<output wsam:Action="http://webservice.service/WsDangNhap/TLu20DeleteResponse" message="tns:TLu20DeleteResponse"/>
</operation>
<operation name="TLu20DangNhapFindUser">
<input wsam:Action="http://webservice.service/WsDangNhap/TLu20DangNhapFindUserRequest" message="tns:TLu20DangNhapFindUser"/>
<output wsam:Action="http://webservice.service/WsDangNhap/TLu20DangNhapFindUserResponse" message="tns:TLu20DangNhapFindUserResponse"/>
</operation>
<operation name="Tlu20dangNhapFindCommon">
<input wsam:Action="http://webservice.service/WsDangNhap/Tlu20dangNhapFindCommonRequest" message="tns:Tlu20dangNhapFindCommon"/>
<output wsam:Action="http://webservice.service/WsDangNhap/Tlu20dangNhapFindCommonResponse" message="tns:Tlu20dangNhapFindCommonResponse"/>
</operation>
</portType>
<binding name="WsDangNhapPortBinding" type="tns:WsDangNhap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Tlu20DangNhapInsert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TestLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TLu20Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TLu20DangNhapFindUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu20dangNhapFindCommon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsDangNhap">
<port name="WsDangNhapPort" binding="tns:WsDangNhapPortBinding">
<soap:address location="http://localhost:8181/NetBeansProjects/WsDangNhap"/>
</port>
</service>
</definitions>