client/src/META-INF/wsdl/localhost_8181/NetBeansProjects/WsTLU30KeHoachTuyenDung.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.service/" name="WsTLU30KeHoachTuyenDung">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.service/" schemaLocation="http://localhost:8181/NetBeansProjects/WsTLU30KeHoachTuyenDung?xsd=1"/>
</xsd:schema>
</types>
<message name="Tlu30khtdDisplayAll">
<part name="parameters" element="tns:Tlu30khtdDisplayAll"/>
</message>
<message name="Tlu30khtdDisplayAllResponse">
<part name="parameters" element="tns:Tlu30khtdDisplayAllResponse"/>
</message>
<message name="Tlu20khtdFindById">
<part name="parameters" element="tns:Tlu20khtdFindById"/>
</message>
<message name="Tlu20khtdFindByIdResponse">
<part name="parameters" element="tns:Tlu20khtdFindByIdResponse"/>
</message>
<message name="Tlu30khtdFindByKeHoachSo">
<part name="parameters" element="tns:Tlu30khtdFindByKeHoachSo"/>
</message>
<message name="Tlu30khtdFindByKeHoachSoResponse">
<part name="parameters" element="tns:Tlu30khtdFindByKeHoachSoResponse"/>
</message>
<message name="Tlu30khtdInsert">
<part name="parameters" element="tns:Tlu30khtdInsert"/>
</message>
<message name="Tlu30khtdInsertResponse">
<part name="parameters" element="tns:Tlu30khtdInsertResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="Tlu30khtdUpdateById">
<part name="parameters" element="tns:Tlu30khtdUpdateById"/>
</message>
<message name="Tlu30khtdUpdateByIdResponse">
<part name="parameters" element="tns:Tlu30khtdUpdateByIdResponse"/>
</message>
<message name="Tlu30dktdDeletebyId">
<part name="parameters" element="tns:Tlu30dktdDeletebyId"/>
</message>
<message name="Tlu30dktdDeletebyIdResponse">
<part name="parameters" element="tns:Tlu30dktdDeletebyIdResponse"/>
</message>
<message name="Tlu30keHoachTuyenDungFindCommon">
<part name="parameters" element="tns:Tlu30keHoachTuyenDungFindCommon"/>
</message>
<message name="Tlu30keHoachTuyenDungFindCommonResponse">
<part name="parameters" element="tns:Tlu30keHoachTuyenDungFindCommonResponse"/>
</message>
<portType name="WsTlu30KeHoachTuyenDung">
<operation name="Tlu30khtdDisplayAll">
<input wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30khtdDisplayAllRequest" message="tns:Tlu30khtdDisplayAll"/>
<output wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30khtdDisplayAllResponse" message="tns:Tlu30khtdDisplayAllResponse"/>
</operation>
<operation name="Tlu20khtdFindById">
<input wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu20khtdFindByIdRequest" message="tns:Tlu20khtdFindById"/>
<output wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu20khtdFindByIdResponse" message="tns:Tlu20khtdFindByIdResponse"/>
</operation>
<operation name="Tlu30khtdFindByKeHoachSo">
<input wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30khtdFindByKeHoachSoRequest" message="tns:Tlu30khtdFindByKeHoachSo"/>
<output wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30khtdFindByKeHoachSoResponse" message="tns:Tlu30khtdFindByKeHoachSoResponse"/>
</operation>
<operation name="Tlu30khtdInsert">
<input wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30khtdInsertRequest" message="tns:Tlu30khtdInsert"/>
<output wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30khtdInsertResponse" message="tns:Tlu30khtdInsertResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30khtdInsert/Fault/ParseException"/>
</operation>
<operation name="Tlu30khtdUpdateById">
<input wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30khtdUpdateByIdRequest" message="tns:Tlu30khtdUpdateById"/>
<output wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30khtdUpdateByIdResponse" message="tns:Tlu30khtdUpdateByIdResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30khtdUpdateById/Fault/ParseException"/>
</operation>
<operation name="Tlu30dktdDeletebyId">
<input wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30dktdDeletebyIdRequest" message="tns:Tlu30dktdDeletebyId"/>
<output wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30dktdDeletebyIdResponse" message="tns:Tlu30dktdDeletebyIdResponse"/>
</operation>
<operation name="Tlu30keHoachTuyenDungFindCommon">
<input wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30keHoachTuyenDungFindCommonRequest" message="tns:Tlu30keHoachTuyenDungFindCommon"/>
<output wsam:Action="http://webservice.service/WsTlu30KeHoachTuyenDung/Tlu30keHoachTuyenDungFindCommonResponse" message="tns:Tlu30keHoachTuyenDungFindCommonResponse"/>
</operation>
</portType>
<binding name="WsTlu30KeHoachTuyenDungPortBinding" type="tns:WsTlu30KeHoachTuyenDung">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Tlu30khtdDisplayAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu20khtdFindById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30khtdFindByKeHoachSo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30khtdInsert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="Tlu30khtdUpdateById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="Tlu30dktdDeletebyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30keHoachTuyenDungFindCommon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsTLU30KeHoachTuyenDung">
<port name="WsTlu30KeHoachTuyenDungPort" binding="tns:WsTlu30KeHoachTuyenDungPortBinding">
<soap:address location="http://localhost:8181/NetBeansProjects/WsTLU30KeHoachTuyenDung"/>
</port>
</service>
</definitions>