client/xml-resources/web-service-references/WSTLU30CHITIETDKTD/wsdl/localhost_8181/NetBeansProjects/WSTLU30CHITIETDKTD.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.service/" name="WSTLU30CHITIETDKTD">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.service/" schemaLocation="http://localhost:8181/NetBeansProjects/WSTLU30CHITIETDKTD?xsd=1"/>
</xsd:schema>
</types>
<message name="initConv">
<part name="parameters" element="tns:initConv"/>
</message>
<message name="initConvResponse">
<part name="parameters" element="tns:initConvResponse"/>
</message>
<message name="Tlu30chitietdktdDeletebyId">
<part name="parameters" element="tns:Tlu30chitietdktdDeletebyId"/>
</message>
<message name="Tlu30chitietdktdDeletebyIdResponse">
<part name="parameters" element="tns:Tlu30chitietdktdDeletebyIdResponse"/>
</message>
<message name="Tlu30chitietdktdInsert">
<part name="parameters" element="tns:Tlu30chitietdktdInsert"/>
</message>
<message name="Tlu30chitietdktdInsertResponse">
<part name="parameters" element="tns:Tlu30chitietdktdInsertResponse"/>
</message>
<message name="Tlu30chitietdktddDisplayAll">
<part name="parameters" element="tns:Tlu30chitietdktddDisplayAll"/>
</message>
<message name="Tlu30chitietdktddDisplayAllResponse">
<part name="parameters" element="tns:Tlu30chitietdktddDisplayAllResponse"/>
</message>
<message name="Tlu30chitietdktdFindCommon">
<part name="parameters" element="tns:Tlu30chitietdktdFindCommon"/>
</message>
<message name="Tlu30chitietdktdFindCommonResponse">
<part name="parameters" element="tns:Tlu30chitietdktdFindCommonResponse"/>
</message>
<message name="Tlu30chitietdktdFindbyId">
<part name="parameters" element="tns:Tlu30chitietdktdFindbyId"/>
</message>
<message name="Tlu30chitietdktdFindbyIdResponse">
<part name="parameters" element="tns:Tlu30chitietdktdFindbyIdResponse"/>
</message>
<message name="Tlu30chitietdktdUpdatebyID">
<part name="parameters" element="tns:Tlu30chitietdktdUpdatebyID"/>
</message>
<message name="Tlu30chitietdktdUpdatebyIDResponse">
<part name="parameters" element="tns:Tlu30chitietdktdUpdatebyIDResponse"/>
</message>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse"/>
</message>
<portType name="WSTLU30CHITIETDKTD">
<operation name="initConv">
<input wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/initConvRequest" message="tns:initConv"/>
<output wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/initConvResponse" message="tns:initConvResponse"/>
</operation>
<operation name="Tlu30chitietdktdDeletebyId">
<input wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/Tlu30chitietdktdDeletebyIdRequest" message="tns:Tlu30chitietdktdDeletebyId"/>
<output wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/Tlu30chitietdktdDeletebyIdResponse" message="tns:Tlu30chitietdktdDeletebyIdResponse"/>
</operation>
<operation name="Tlu30chitietdktdInsert">
<input wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/Tlu30chitietdktdInsertRequest" message="tns:Tlu30chitietdktdInsert"/>
<output wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/Tlu30chitietdktdInsertResponse" message="tns:Tlu30chitietdktdInsertResponse"/>
</operation>
<operation name="Tlu30chitietdktddDisplayAll">
<input wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/Tlu30chitietdktddDisplayAllRequest" message="tns:Tlu30chitietdktddDisplayAll"/>
<output wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/Tlu30chitietdktddDisplayAllResponse" message="tns:Tlu30chitietdktddDisplayAllResponse"/>
</operation>
<operation name="Tlu30chitietdktdFindCommon">
<input wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/Tlu30chitietdktdFindCommonRequest" message="tns:Tlu30chitietdktdFindCommon"/>
<output wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/Tlu30chitietdktdFindCommonResponse" message="tns:Tlu30chitietdktdFindCommonResponse"/>
</operation>
<operation name="Tlu30chitietdktdFindbyId">
<input wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/Tlu30chitietdktdFindbyIdRequest" message="tns:Tlu30chitietdktdFindbyId"/>
<output wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/Tlu30chitietdktdFindbyIdResponse" message="tns:Tlu30chitietdktdFindbyIdResponse"/>
</operation>
<operation name="Tlu30chitietdktdUpdatebyID">
<input wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/Tlu30chitietdktdUpdatebyIDRequest" message="tns:Tlu30chitietdktdUpdatebyID"/>
<output wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/Tlu30chitietdktdUpdatebyIDResponse" message="tns:Tlu30chitietdktdUpdatebyIDResponse"/>
</operation>
<operation name="init">
<input wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/initRequest" message="tns:init"/>
<output wsam:Action="http://webservice.service/WSTLU30CHITIETDKTD/initResponse" message="tns:initResponse"/>
</operation>
</portType>
<binding name="WSTLU30CHITIETDKTDPortBinding" type="tns:WSTLU30CHITIETDKTD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="initConv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30chitietdktdDeletebyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30chitietdktdInsert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30chitietdktddDisplayAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30chitietdktdFindCommon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30chitietdktdFindbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu30chitietdktdUpdatebyID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSTLU30CHITIETDKTD">
<port name="WSTLU30CHITIETDKTDPort" binding="tns:WSTLU30CHITIETDKTDPortBinding">
<soap:address location="http://localhost:8181/NetBeansProjects/WSTLU30CHITIETDKTD"/>
</port>
</service>
</definitions>