client/xml-resources/web-service-references/WsTlu20DieuKienTuyenDung/wsdl/localhost_8181/NetBeansProjects/WsTlu20DieuKienTuyenDung.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.service/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="Tlu20dieuKienTuyenDungDeletebyId" type="tns:Tlu20dieuKienTuyenDungDeletebyId"/>

<xs:element name="Tlu20dieuKienTuyenDungDeletebyIdResponse" type="tns:Tlu20dieuKienTuyenDungDeletebyIdResponse"/>

<xs:element name="init" type="tns:init"/>

<xs:element name="initConv" type="tns:initConv"/>

<xs:element name="initConvResponse" type="tns:initConvResponse"/>

<xs:element name="initResponse" type="tns:initResponse"/>

<xs:element name="tlu20DktdDisplayAll" type="tns:tlu20DktdDisplayAll"/>

<xs:element name="tlu20DktdDisplayAllResponse" type="tns:tlu20DktdDisplayAllResponse"/>

<xs:element name="tlu20DktdFindCommon" type="tns:tlu20DktdFindCommon"/>

<xs:element name="tlu20DktdFindCommonResponse" type="tns:tlu20DktdFindCommonResponse"/>

<xs:element name="tlu20DktdInsert" type="tns:tlu20DktdInsert"/>

<xs:element name="tlu20DktdInsertResponse" type="tns:tlu20DktdInsertResponse"/>

<xs:element name="tlu20DktdUpdatebyID" type="tns:tlu20DktdUpdatebyID"/>

<xs:element name="tlu20DktdUpdatebyIDResponse" type="tns:tlu20DktdUpdatebyIDResponse"/>

<xs:complexType name="tlu20DktdFindCommon">
<xs:sequence>
<xs:element name="tendmdktd" type="xs:string" minOccurs="0"/>
<xs:element name="madmdktd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tlu20DktdFindCommonResponse">
<xs:sequence>
<xs:element name="return" type="tns:tlu20DieuKienTuyenDung" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tlu20DieuKienTuyenDung">
<xs:sequence>
<xs:element name="createdAt" type="xs:dateTime" minOccurs="0"/>
<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
<xs:element name="idDktd" type="xs:int" minOccurs="0"/>
<xs:element name="isActive" type="xs:boolean"/>
<xs:element name="madmdktd" type="xs:string" minOccurs="0"/>
<xs:element name="tendmdktd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="init">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="initResponse">
<xs:sequence>
<xs:element name="return" type="tns:daotlu30CHITIETKQVPV" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="daotlu30CHITIETKQVPV">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="tlu20DktdInsert">
<xs:sequence>
<xs:element name="createdby" type="xs:string" minOccurs="0"/>
<xs:element name="createdat" type="xs:string" minOccurs="0"/>
<xs:element name="isactive" type="xs:boolean"/>
<xs:element name="madmdktd" type="xs:string" minOccurs="0"/>
<xs:element name="tendmdktd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tlu20DktdInsertResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tlu20DktdUpdatebyID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="createdby" type="xs:string" minOccurs="0"/>
<xs:element name="createdAt" type="xs:string" minOccurs="0"/>
<xs:element name="isactive" type="xs:boolean"/>
<xs:element name="tendmdktd" type="xs:string" minOccurs="0"/>
<xs:element name="madmdktd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tlu20DktdUpdatebyIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="initConv">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="initConvResponse">
<xs:sequence>
<xs:element name="return" type="tns:convert" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convert">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Tlu20dieuKienTuyenDungDeletebyId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Tlu20dieuKienTuyenDungDeletebyIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tlu20DktdDisplayAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="tlu20DktdDisplayAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:tlu20DieuKienTuyenDung" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>