client/xml-resources/web-service-references/WsTlu20DieuKienTuyenDung/wsdl/localhost_8181/NetBeansProjects/WsTlu20DieuKienTuyenDung.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.service/" name="WsTlu20DieuKienTuyenDung">
<wsp:Policy wsu:Id="WsTlu20DieuKienTuyenDungPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.service/" schemaLocation="http://localhost:8181/NetBeansProjects/WsTlu20DieuKienTuyenDung?xsd=1"/>
</xsd:schema>
</types>
<message name="initConv">
<part name="parameters" element="tns:initConv"/>
</message>
<message name="initConvResponse">
<part name="parameters" element="tns:initConvResponse"/>
</message>
<message name="tlu20DktdUpdatebyID">
<part name="parameters" element="tns:tlu20DktdUpdatebyID"/>
</message>
<message name="tlu20DktdUpdatebyIDResponse">
<part name="parameters" element="tns:tlu20DktdUpdatebyIDResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="tlu20DktdDisplayAll">
<part name="parameters" element="tns:tlu20DktdDisplayAll"/>
</message>
<message name="tlu20DktdDisplayAllResponse">
<part name="parameters" element="tns:tlu20DktdDisplayAllResponse"/>
</message>
<message name="tlu20DktdFindCommon">
<part name="parameters" element="tns:tlu20DktdFindCommon"/>
</message>
<message name="tlu20DktdFindCommonResponse">
<part name="parameters" element="tns:tlu20DktdFindCommonResponse"/>
</message>
<message name="Tlu20dieuKienTuyenDungDeletebyId">
<part name="parameters" element="tns:Tlu20dieuKienTuyenDungDeletebyId"/>
</message>
<message name="Tlu20dieuKienTuyenDungDeletebyIdResponse">
<part name="parameters" element="tns:Tlu20dieuKienTuyenDungDeletebyIdResponse"/>
</message>
<message name="tlu20DktdInsert">
<part name="parameters" element="tns:tlu20DktdInsert"/>
</message>
<message name="tlu20DktdInsertResponse">
<part name="parameters" element="tns:tlu20DktdInsertResponse"/>
</message>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse"/>
</message>
<portType name="WsTlu20DieuKienTuyenDung">
<operation name="initConv">
<input wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/initConvRequest" message="tns:initConv"/>
<output wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/initConvResponse" message="tns:initConvResponse"/>
</operation>
<operation name="tlu20DktdUpdatebyID">
<input wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/tlu20DktdUpdatebyIDRequest" message="tns:tlu20DktdUpdatebyID"/>
<output wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/tlu20DktdUpdatebyIDResponse" message="tns:tlu20DktdUpdatebyIDResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/tlu20DktdUpdatebyID/Fault/ParseException"/>
</operation>
<operation name="tlu20DktdDisplayAll">
<input wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/tlu20DktdDisplayAllRequest" message="tns:tlu20DktdDisplayAll"/>
<output wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/tlu20DktdDisplayAllResponse" message="tns:tlu20DktdDisplayAllResponse"/>
</operation>
<operation name="tlu20DktdFindCommon">
<input wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/tlu20DktdFindCommonRequest" message="tns:tlu20DktdFindCommon"/>
<output wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/tlu20DktdFindCommonResponse" message="tns:tlu20DktdFindCommonResponse"/>
</operation>
<operation name="Tlu20dieuKienTuyenDungDeletebyId">
<input wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/Tlu20dieuKienTuyenDungDeletebyIdRequest" message="tns:Tlu20dieuKienTuyenDungDeletebyId"/>
<output wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/Tlu20dieuKienTuyenDungDeletebyIdResponse" message="tns:Tlu20dieuKienTuyenDungDeletebyIdResponse"/>
</operation>
<operation name="tlu20DktdInsert">
<input wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/tlu20DktdInsertRequest" message="tns:tlu20DktdInsert"/>
<output wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/tlu20DktdInsertResponse" message="tns:tlu20DktdInsertResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/tlu20DktdInsert/Fault/ParseException"/>
</operation>
<operation name="init">
<input wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/initRequest" message="tns:init"/>
<output wsam:Action="http://webservice.service/WsTlu20DieuKienTuyenDung/initResponse" message="tns:initResponse"/>
</operation>
</portType>
<binding name="WsTlu20DieuKienTuyenDungPortBinding" type="tns:WsTlu20DieuKienTuyenDung">
<wsp:PolicyReference URI="#WsTlu20DieuKienTuyenDungPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="initConv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tlu20DktdUpdatebyID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="tlu20DktdDisplayAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tlu20DktdFindCommon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Tlu20dieuKienTuyenDungDeletebyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tlu20DktdInsert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsTlu20DieuKienTuyenDung">
<port name="WsTlu20DieuKienTuyenDungPort" binding="tns:WsTlu20DieuKienTuyenDungPortBinding">
<soap:address location="http://localhost:8181/NetBeansProjects/WsTlu20DieuKienTuyenDung"/>
</port>
</service>
</definitions>